#displayarea {
  width:500px;
  height:500px;
  top: 20px;
  border:2px black solid;
}

button {
  margin-bottom: 7px;
  font-size: 12px;
  width:24.25%;
  padding: 5px;
}

section {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
